@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using ChandorProject.Shared.DTOs.Finance
@implements IDisposable

<div id="expense-grid-wrapper">
    @if (_renderGrid)
    {
        <SfGrid @ref="TransactGridRef"
                TValue="TransactionDto"
                Width="100%"
                Height="100%"
                AllowSelection="true"
                AllowPaging="true"
                AllowTextWrap="false"
                AllowExcelExport="true"
                Toolbar="@Toolbaritems"
                DataSource="@GridData">
            <GridEvents TValue="TransactionDto"
                        RowSelected="OnRowSelectChanged"
                        RowDeselected="OnRowDeselectChanged"
                        OnToolbarClick="ToolbarClickHandler">
            </GridEvents>
            <GridEditSettings AllowEditing="true" AllowEditOnDblClick="false"></GridEditSettings>
            <GridPageSettings PageSize="11"></GridPageSettings>
            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" Width="40"></GridColumn>
                <GridColumn Field="@nameof(TransactionDto.TransactionCategory)" HeaderText="Catťgorie" Width="178" ClipMode="ClipMode.EllipsisWithTooltip" ValidationRules="@_rules">
                    <Template>
                        @{
                            var row = (TransactionDto)context;
                            <div class="normalRes">
                                <div class="category-text">@row.TransactionCategory</div>
                            </div>
                            <div class="mediumRes">
                                <div>
                                    <div>@row.TransactionCategory</div>
                                    <div class="description-section">@row.TransactionNote</div>
                                </div>
                            </div>
                            <div class="smallRes">
                                <div class="sm-category category-content">
                                    <div>@row.TransactionCategory</div>
                                    <div class="description-section">@row.TransactionNote</div>
                                    <div>@row.AccountName</div>
                                </div>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(TransactionDto.TransactionDate)" HeaderText="Date" Format="d" Width="112" ValidationRules="@_rules"></GridColumn>
                <GridColumn Field="@nameof(TransactionDto.AccountName)" HeaderText="Compte" Width="140" ValidationRules="@_rules"></GridColumn>
                <GridColumn Field="@nameof(TransactionDto.TransactionNote)" HeaderText="Note" ClipMode="ClipMode.Ellipsis"></GridColumn>
                <GridColumn Field="@nameof(TransactionDto.Id)" HeaderText="Id" IsPrimaryKey="true" Visible="false"></GridColumn>
                <GridColumn Field="@nameof(TransactionDto.Amount)" HeaderText="Montant" Width="120" Format="C0" TextAlign="TextAlign.Right" ValidationRules="@_rules">
                    <Template>
                        @{
                            var row = (TransactionDto)context;
                            <div class="normalRes">
                                <div class="amt-payment @row.TransactionType">
                                    <span>@row.Amount.ToString("C0")</span>
                                </div>
                            </div>
                            <div class="mediumRes">
                                <div class="amt-payment @row.TransactionType">
                                    <span>@row.Amount.ToString("C0")</span>
                                </div>
                                <div>@row.TransactionDate.ToString("dd/MM/yyyy")</div>
                            </div>
                            <div class="smallRes">
                                <div class="amt-payment @row.TransactionType">
                                    <span>@row.Amount.ToString("C0")</span>
                                </div>
                                <div>@row.TransactionDate.ToString("dd/MM/yyyy")</div>
                            </div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
</div>

