@using ChandorAdmin.Components.GlobalNotification
@using ChandorAdmin.Configuration
@using ChandorAdmin.Interfaces.Api
@using ChandorProject.Shared.DTOs.Account
@implements IDisposable
@inject IFinanceService FinanceService

<div id="dlg-content">
    <SfDialogProvider />
    <div id="et-dialog-target">
        @if (_createNewDialog)
        {
            <SfDialog @ref="_transactionDialog"
                      Width="min(100%, 520px)"
                      Header="@_dialogHeader"
                      CssClass="transact-dialog transact-dialog--chandor"
                      ZIndex="100100"
                      ShowCloseIcon="true"
                      CloseOnEscape="false"
                      IsModal="true">
                <DialogTemplates>
                    <Content>
                        <div>
                            <EditForm Model="@_editModel" id="@_formId" OnValidSubmit="@OnValidSubmitAsync">
                                <CustomFormValidator @ref="_customFormValidator" />
                                <DataAnnotationsValidator />

                                <table class="c-table">
                                    <tr>
                                        <td class="e-rowcell">
                                            <div>
                                                <SfDropDownList TValue="string" TItem="TransType" 
                                                    DataSource="@_transactionTypes" 
                                                    @bind-Value="_editModel.TransactionType" 
                                                    Placeholder="Type de transaction" 
                                                    FloatLabelType="FloatLabelType.Always" 
                                                    Width="100%">
                                                    <DropDownListFieldSettings Text="Name" Value="Value" />
                                                    <DropDownListEvents TValue="string" TItem="TransType" ValueChange="OnTransactionTypeChanged" />
                                                </SfDropDownList>
                                            </div>
                                            <span class="c-err-msg">
                                                <span><ValidationMessage For="@(() => _editModel.TransactionType)" /></span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>

                                <table class="c-table">
                                    <tbody>
                                        <tr>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfDatePicker TValue="DateTime?" Placeholder="Date de transaction" Width="100%" FloatLabelType="FloatLabelType.Always" @bind-Value="_editModel.DateValue" Min="@_editorMinDate" Max="@_editorMaxDate"></SfDatePicker>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.DateValue)" /></span>
                                                </span>
                                            </td>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfTimePicker TValue="DateTime?" Placeholder="Heure" Width="100%" FloatLabelType="FloatLabelType.Always" @bind-Value="_editModel.TimeValue"></SfTimePicker>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.TimeValue)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfDropDownList TValue="Guid?"
                                                                    TItem="TransactionCategoryOption"
                                                                    DataSource="@_categoryDataSource"
                                                                    @bind-Value="_editModel.CategoryId"
                                                                    Placeholder="Catégorie"
                                                                    FloatLabelType="FloatLabelType.Always"
                                                                    Width="100%">
                                                        <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.CategoryId)" /></span>
                                                </span>
                                            </td>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfNumericTextBox TValue="decimal?" Placeholder="Montant" FloatLabelType="FloatLabelType.Always" Format="c2" Min="0.01m" Width="100%" @bind-Value="_editModel.Amount"></SfNumericTextBox>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.Amount)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell" colspan="2">
                                                <div>
                                                    <SfDropDownList TValue="Guid?"
                                                                    TItem="AccountDto"
                                                                    DataSource="@_accounts"
                                                                    @bind-Value="_editModel.AccountId"
                                                                    Placeholder="Compte affecté"
                                                                    FloatLabelType="FloatLabelType.Always"
                                                                    Width="100%">
                                                        <DropDownListFieldSettings Text="AccountName" Value="Id"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.AccountId)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell" colspan="2">
                                                <div>
                                                    <SfTextBox @bind-Value="_editModel.TransactionNote"
                                                               Placeholder="Note"
                                                               FloatLabelType="FloatLabelType.Always"
                                                               Multiline="true"
                                                               Width="100%"
                                                               CssClass="transact-desc-textbox">
                                                    </SfTextBox>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.TransactionNote)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </EditForm>
                        </div>
                        <DialogEvents Created="OnCreate"></DialogEvents>

                    </Content>
                </DialogTemplates>
                <DialogButtons>
                    <DialogButton form="@_formId" Type="Syncfusion.Blazor.Popups.ButtonType.Submit" IsPrimary="true" Disabled="@_saving" Content="@_buttonContent" />
                    <DialogButton Type="Syncfusion.Blazor.Popups.ButtonType.Button" IsPrimary="true" Content="Annuler" OnClick="OnClickCancel" />
                </DialogButtons>
            </SfDialog>
        }
    </div>
    <NotificationDialog @ref="_notificationRef" />
</div>

<style>
    .e-message {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 86%;
        letter-spacing: 0.5px;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    @@media (max-width: 600px) {
        .e-message {
            top: 8%;
            width: 100%;
        }
    }
</style>
