@using ChandorAdmin.Configuration
@implements IDisposable
@inject SfDialogService DialogService
@inject FinanceTransactionDataService Data

<div id="dlg-content">
    <SfDialogProvider />
    <div id="et-dialog-target">
        @if (_createNewDialog)
        {
            <SfDialog @ref="_transactionDialog"
                      Width="min(100%, 520px)"
                      CssClass="transact-dialog transact-dialog--chandor"
                      ShowCloseIcon="true"
                      CloseOnEscape="false"
                      IsModal="true"
                      Target="#et-transactions-host">
                <ChildContent>
                    <DialogTemplates>
                        <Header>@_dialogHeader</Header>
                    </DialogTemplates>
                    <div class="dlg-content">
                        <EditForm Model="@_editModel" OnValidSubmit="@OnValidSubmitAsync">
                            <CustomFormValidator @ref="_customFormValidator" />
                            <DataAnnotationsValidator />
                            <input type="hidden" value="@_editModel.UniqueId" />
                            <div class="transaction-dialog">
                                <table class="transact-edit-table">
                                    <tbody>
                                        <tr>
                                            <td class="e-rowcell" colspan="2">
                                                <div>
                                                    <span class="e-label" style="display:block;margin-bottom:6px;">Transaction type</span>
                                                    <SfRadioButton TChecked="string" Label="Income" @bind-Checked="_editModel.TransactionType" Value="Income" Name="dlgTransactionType" ValueChange="OnTransactionTypeChanged"></SfRadioButton>
                                                    <SfRadioButton TChecked="string" Label="Expense" @bind-Checked="_editModel.TransactionType" Value="Expense" Name="dlgTransactionType" ValueChange="OnTransactionTypeChanged"></SfRadioButton>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.TransactionType)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfDatePicker TValue="DateTime?" Placeholder="Choose a Date" Width="100%" FloatLabelType="FloatLabelType.Always" @bind-Value="_editModel.DateValue" Min="@_editorMinDate" Max="@_editorMaxDate"></SfDatePicker>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.DateValue)" /></span>
                                                </span>
                                            </td>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfTimePicker TValue="DateTime?" Placeholder="Choose a Time" Width="100%" FloatLabelType="FloatLabelType.Always" @bind-Value="_editModel.TimeValue"></SfTimePicker>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.TimeValue)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfDropDownList TValue="string"
                                                                    CssClass="Category"
                                                                    TItem="FinanceCategoryOption"
                                                                    DataSource="@_categoryDataSource"
                                                                    @bind-Value="_editModel.Category"
                                                                    Placeholder="Select a Category"
                                                                    FloatLabelType="FloatLabelType.Always"
                                                                    Width="100%">
                                                        <DropDownListFieldSettings Text="Category" Value="Category" IconCss="Class"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.Category)" /></span>
                                                </span>
                                            </td>
                                            <td class="e-rowcell">
                                                <div>
                                                    <SfNumericTextBox TValue="double?" Placeholder="Enter a Amount" FloatLabelType="FloatLabelType.Always" Format="c2" Min="0" Width="100%" @bind-Value="_editModel.Amount"></SfNumericTextBox>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.Amount)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell" colspan="2">
                                                <div>
                                                    <SfTextBox @bind-Value="_editModel.Description"
                                                               Placeholder="Descriptions"
                                                               FloatLabelType="FloatLabelType.Always"
                                                               Multiline="true"
                                                               Width="100%"
                                                               CssClass="transact-desc-textbox">
                                                    </SfTextBox>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.Description)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-rowcell" colspan="2">
                                                <div>
                                                    <span class="e-label" style="display:block;margin-bottom:6px;">Payment mode</span>
                                                    <SfRadioButton TChecked="string" Label="Cash" @bind-Checked="_editModel.PaymentMode" Value="Cash" Name="dlgPaymentMode"></SfRadioButton>
                                                    <SfRadioButton TChecked="string" Label="Debit Card" @bind-Checked="_editModel.PaymentMode" Value="Debit Card" Name="dlgPaymentMode"></SfRadioButton>
                                                    <SfRadioButton TChecked="string" Label="Credit Card" @bind-Checked="_editModel.PaymentMode" Value="Credit Card" Name="dlgPaymentMode"></SfRadioButton>
                                                </div>
                                                <span class="c-err-msg">
                                                    <span><ValidationMessage For="@(() => _editModel.PaymentMode)" /></span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="transact-dialog-footer">
                                <SfButton IsPrimary="true" type="submit">@_buttonContent</SfButton>
                                <SfButton IsPrimary="true" type="button" OnClick="OnClickCancel">Cancel</SfButton>
                            </div>
                        </EditForm>
                    </div>
                    <DialogEvents Created="OnCreate"></DialogEvents>
                </ChildContent>
            </SfDialog>
        }
    </div>
</div>

<style>
    .e-message {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 86%;
        letter-spacing: 0.5px;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    @@media (max-width: 600px) {
        .e-message {
            top: 8%;
            width: 100%;
        }
    }
</style>
